body {
  height: 100vh;
  background-color: #000;
  background-image: url(https://media.istockphoto.com/id/1418379431/es/foto/textura-de-papel-de-lujo-patr%C3%B3n-de-repetici%C3%B3n-sin-costuras-de-crema-u-oro.jpg?b=1&s=170667a&w=0&k=20&c=E9A_ckd_hKhKmuJ7m4zLbCHpQQJT8gxs36LgqHa9dgk=);
  background-size: cover;
  
}